body{
    
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 40px;
}
h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 85px;
}

.right-image {
    height: 500px;
    width: 500px;
}
.right-image img {
    height: 100%;
    width: 100%;
}
.left-image {
    height: 500px;
    width: 500px;
}
.left-image img {
    height: 100%;
    width: 100%;
}
.name-highlight{
    color:#C02E1D;
    
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2% ;
}
.half-width P {
    font-size: 21px;
    line-height: 35px;
    font-family: -webkit-pictograph;
    text-align: justify;
    font-weight: 500;
}
.half-width img{
    width: 100%;
}

section {
    height: 500px;
    margin-bottom: 60px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
}
.link-button{
    text-decoration:none;
    /* background-color:#2F596F; */
    background-image: linear-gradient(#02aab0 , #00cdac);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.card {
    box-shadow: 10px 10px 50px #8080808c;
    border-radius: 16px;
    height: 100%;
    background-color: white;
    width: 25%;
    margin-bottom: 100px;
    padding: 7px;
    transition: .6s;
}
.card:hover{
    box-shadow: 0px 0px 3px #8080808c;
}


#inquiry{
    background-image: url(./images-pw/shapes/Group_33094_1.png);
    height: 225px;
    width: 100%;
    background-size: cover;
}
#inquiry h1{
    font-weight: 700;
    width: 50%;
    display: inline-block;
    padding: 52px;
    text-align: left;
    margin-right: 136px;
    color: aliceblue;
}
.inquiry-area{
    height: 221px;
    width: 906px;
    margin: 0 auto;
}

.latet-area{
    display: block;
}
footer {
    margin: 85px 0px;
}
footer h4 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 1px;
    line-height: 0px;
}
footer h3{
    text-align: center;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}
footer span{
    color: tomato;
}
.footer-highlight{
    color: teal;
}
footer img{
    height: 30px;
    width: 30px;
}